
body { 
    margin-right: auto;
    margin-left: auto;
    max-width: 90%;

}

.page{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, rgba(255, 66, 66, 0.669), rgba(255, 255, 0, 0.692), rgba(9, 164, 9, 0.7), rgba(45, 45, 253, 0.655));
    resize: both;
    overflow: auto;
    box-shadow: 8px 8px 8px 8px rgb(144, 140, 140);
}

.header {
    color: white;
   /* background-image: url("./pictures/cuart-calcit.jpg");
*/

    background: linear-gradient(90deg, rgb(175, 176, 176)20%, rgb(251, 248, 248) 100%);
}
.logo {
    display: flex;
    color: white;
    background: linear-gradient(40deg, rgba(84, 143, 238, 0.63) 40%, 
    rgba(232, 236, 243, 0.63) 100%) ;
    gap: 15px;
    align-items: center;
    justify-content: space-between;

}
.title {
    font-size: 40px;
    font-weight: 800;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 40px;
    color: #e71566;
    text-shadow: 2px 2px 1px black;
}
.links {
    display: flex;
    padding: 2px;
    margin-right: 30px;
}
.links a{
    margin: 10px;
}
a {
    text-decoration: none;
    color: rgb(28, 111, 5);
    font-size: 22px;
    font-weight: bold;
    margin: 5px;
    text-shadow: 1px 1px 0px black;

}
.introduction {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    border: 10px;
    margin: 30px;
}
.content {
    max-width: 535px;
    border: 2px solid black;
    box-shadow: 5px -5px 2px black;
    background:linear-gradient( 180deg, rgba(119, 247, 147, 0.773) 30%, 
    rgba(190, 187, 187, 0.998) 100%);
    border-radius: 8px;

}
.introduction img {
    border: 2px solid black;
    border-radius: 8px;
    width: 531px;
    height: 300px;
    box-shadow: 5px -5px 2px black;

}
h1 {
    font-size: 54px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    margin: 5px;
    color: rgb(230, 22, 22);
    text-shadow: 0px 0px  3px  black, 0 0 25px rgb(254, 248, 249), 0 0 5px red;

}
.content p {
    font-size: 22px;
    color: black;
    margin: 5px;
    text-shadow: 1px 1px 0px white;
}

button {
    background: #3882f6;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    text-shadow: 0px 0px 3px black;
    margin: 15px;
    width: 80px;
}

.container {
    text-align: center;
    padding: 30px;
    font-size: 70px;
    font-weight: bold;
    color: #f53939;
    text-shadow: -2px 0px 0px black, 0 0 25px blue, 0 0 10px darkblue;

}
.items{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.description{
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 25px;
    
}

.items img {
    border-radius: 8px;
    border: 2px solid blueviolet;
    width: 200px;
    height: 160px;
    box-shadow: 6px -6px 6px rgb(189, 179, 179);
}
.info {
    max-width: 150px;
    text-align: center;
    font-size: 16px;
    min-width: 200px;
  
}
.quote {
    display: block;
    background: white;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 24px;
    border: 5px solid red;

}
.quote {
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 18px;
   text-align: start;
   font-style: italic;

}
.autor {
   text-align: end;
   font-weight: bold;
   padding-right: 60px;
   
}
.sign-up {
    display: flex;
    justify-content: center;
    
}

.sign-up-box {
    background: rgb(51, 147, 211);
    color: white;
    margin: 80px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content:space-evenly;
    gap: 20px;
    box-shadow: 4px 4px 10px black;
    align-items: center;
}
.sign-text {
    padding: 15px;
}
.bold-text{
    font-size: 28px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 5px;
    text-shadow: 0px 0px 3px black;

}
.sign-text p{
    font-size: 22px;
    text-shadow: 0px 0px 3px black;
    margin: auto;
   
}
.footer {
    font-size: 22px;
    text-align: center;
    background: rgb(229, 216, 216);;
    color: rgb(21, 8, 8);
    padding: 20px;
    border-style: outset;
}

