body { 
    margin-right: auto;
    margin-left: auto;
    max-width: 90%;

}

.page{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, rgba(247, 114, 114, 0.571), rgba(224, 207, 79, 0.666), rgba(103, 250, 184, 0.673), rgba(114, 145, 239, 0.61));
    resize: both;
    overflow: auto;
    box-shadow: 8px 8px 8px 8px rgb(144, 140, 140);
}

.header {
    color: white;
    background: linear-gradient(to right, rgb(176, 176, 176), white, rgb(164, 159, 159), white,rgb(171, 166, 166));

}
.logo {
    display: flex;
    color: white;
    background: linear-gradient(40deg, rgba(44, 174, 249, 0.63) 40%, 
    rgba(232, 236, 243, 0.63) 100%) ;
    gap: 15px;
    align-items:baseline;
    justify-content: space-between;
    flex-wrap: wrap;

}
.title {
    font-size: 45px;
    font-weight: 800;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 40px;
    margin-bottom: 2px;
    color: #1c5532;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}
.links {
    display: flex;
    padding: 2px;
    margin-right: 20px;
    margin-left: 20px;
}
a {
    color: rgb(28, 111, 5);
    font-size: 22px;
    font-weight: bold;
    margin: 5px;
    padding-left: 20px;
    text-shadow: 1px 1px 0px black;

}
.introduction {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    border: 10px;
    margin: 30px;
}
.content {
    max-width: 535px;
    border: 2px solid black;
    box-shadow: 5px -5px 2px black;
    background:linear-gradient( 180deg, rgba(132, 62, 18, 0.64) 30%, 
    rgba(241, 211, 129, 0.998) 100%);
    border-radius: 8px;

}
.introduction img {
    border: 2px solid black;
    border-radius: 8px;
    width: 33rem;
    height: auto;
    box-shadow: 5px -5px 2px black;

}
h1 {
    font-size: 54px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    margin: 5px;
    color: rgb(230, 22, 22);
    text-shadow: 0px 0px  3px  black, 0 0 25px rgb(254, 248, 249), 0 0 5px red;

}
.content p {
    font-size: 22px;
    color: black;
    margin: 5px;
    text-shadow: 1px 1px 0px white;
}

button {
    background: #3882f6;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    text-shadow: 0px 0px 3px black;
    margin: 15px;
    width: 80px;
}

.container {
    text-align: center;
    padding: 30px;
    font-size: 70px;
    font-weight: bold;
    color: #f53939;
    text-shadow: -2px 0px 0px black, 0 0 25px blue, 0 0 10px darkblue;

}
.items{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.description{
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 25px;
}

.items img {
    border-radius: 8px;
    border: 2px solid blueviolet;
    width: 200px;
    height: 160px;
    box-shadow: 6px -6px 6px rgb(189, 179, 179);
}
.info {
    max-width: 150px;
    text-align: center;
    font-size: 16px;
    min-width: 200px;
    background: linear-gradient(to bottom, white, rgb(108, 105, 105), white);
  
}
.quote {
    display: block;
    background: linear-gradient(to right, white, rgb(148, 144, 144), white, grey, white);
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 24px;
    border: 5px solid red;

}
.quote {
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 18px;
   text-align: start;
   font-style: italic;

}
.autor {
   text-align: end;
   font-weight: bold;
   padding-right: 60px;
   
}
.sign-up {
    display: flex;
    justify-content: center;
    
}

.sign-up-box {
    background: rgb(51, 147, 211);
    color: white;
    margin: 80px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content:space-evenly;
    gap: 20px;
    box-shadow: 4px 4px 10px black;
    align-items: center;
}
.sign-text {
    padding: 15px;
}
.bold-text{
    font-size: 28px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 5px;
    text-shadow: 0px 0px 3px black;

}
.sign-text p{
    font-size: 22px;
    text-shadow: 0px 0px 3px black;
    margin: auto;
   
}
.footer {
    font-size: 22px;
    text-align: center;
    background: rgb(229, 216, 216);;
    color: rgb(21, 8, 8);
    padding: 20px;
    border-style: outset;
}
