
body { 
    margin-right: auto;
    margin-left: auto;
    background: white;
    max-width: 90%;
   
}
.page{
    display: flex;
    flex-direction: column;
    background: rgb(206, 255, 206);
    resize: both;
    overflow: auto;
}

.header {
    color: white;
    background: black;
}
.logo {
    display: flex;
    color: white;
    background: rgb(170, 154, 154);
    gap: 15px;
    align-items: center;
    justify-content: space-between;

}
.title {
    font-size: 32px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 100px;
    color: #e71566;
}
.links {
    display: flex;
    padding: 2px;
    margin-right: 80px;
}
.links a{
    margin: 15px;
}
a {
    text-decoration: none;
    color: rgb(44, 253, 93);
    font-size: 18px;
    margin: 5px;

}
.introduction {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    border: 10px;
    margin: 30px;
    max-height: 700px;
}
.content {
    height: 300px;
    max-width: 550px;

}
.introduction img {
    border: 2px solid rgb(171, 56, 171);
    border-radius: 8px;
    width: 531px;
    height: 300px;

}
h1 {
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin: 5px;
    color: aqua;

}
.content p {
    font-size: 18px;
    margin: 5px;
}

button {
    background: #3882f6;
    border-radius: 3px;
    height: 30px;
    color: white;
    font-size: 16px;
    margin: 5px;
}

.container h2 {
    text-align: center;
    padding: 30px;
    font-size: 42px;
    color: #f10d0d
}
.items{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 7px;
}

.description{
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 10px;
    
}

.items img {
    border-radius: 8px;
    border: 2px solid blueviolet;
    width: 150px;
    height: 120px;
}
.info {
    max-width: 150px;
    text-align: center;
    font-size: 14px;
    min-width: 150px;
  
}
.quote {
    display: block;
    background: #e5e7eb;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    
}
.text, .autor {
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 15px;
   text-align: start;
   font-style: italic;

}
.autor {
   text-align: end;
   font-weight: bold;
   padding-right: 60px;
   
}
.sign-up {
    background: rgb(51, 147, 211);
    color: white;
    margin: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 30px;
   
}
.sign-up button {
    border-color: aliceblue;
}
.sign-left {
    display: block;
   
   
}
.sign-left p {
    font-size: 16px;
    margin-top: 2px;

    
}
h3 {
    margin-bottom: 2px;
    margin-top: 2px;
}
.footer {
   
    text-align: center;
    background: rgb(170, 154, 154);;
    color: white;
    padding: 20px;
}

